
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Change your password</h2>
                <div class="clearfix"></div>
            </div>

            @using (Html.BeginForm())
            {
                <div class="form-horizontal">

                    <div class="form-group">
                        <label class="control-label col-md-2" >Current Password</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="currentPassword" placeholder="" required="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">New Password</label>
                        <div class="col-md-10">
                            <input type="password" class="form-control" name="newPassword" placeholder="" required="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Confirm Password</label>
                        <div class="col-md-10">
                            <input type="password" class="form-control" name="confirmPassword" placeholder="" required="" />
                            <input type="text" class="form-control" name="idU" placeholder="" required="" value="@ViewBag.id" style="display:none;" />
                        </div>
                    </div>


                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Change Password" class="btn btn-success" />
                        </div>
                    </div>

                </div>
            }

        </div>
    </div>
</div>



